################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BookManagement/.vs/BookManagement
/BookManagement.Database/bin/Debug
/BookManagement.Database/obj/Debug
/BookManagement.Infrastructure/bin/Debug/net6.0
/BookManagement.Infrastructure/obj
/BookManagement.Models/bin/Debug/net6.0
/BookManagement.Models/obj
/BookManagement.Business/bin/Debug/net6.0
/BookManagement.Business/obj
/BookManagement.Database/BookManagement.Database.dbmdl
/BookManagement.Database/BookManagement.Database.jfm
/BookManagement.Client/bin/Debug/net6.0-windows
/BookManagement.Client/obj
/BookManagement.Utility/obj
/BookManagement.Utility/bin/Debug/net6.0-windows
