################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BookManagement/.vs/BookManagement
/Book.Business/bin/Debug/net6.0
/Book.Business/obj
/Book.Infrastructure/bin/Debug/net6.0
/Book.Infrastructure/obj
/Book.Models/obj
/Book.Models/bin/Debug/net6.0
/Book.Database/bin/Debug
/Book.Database/obj/Debug
/Book.Database/Book.Database.jfm
/Book.Database/Book.Database.dbmdl
/BookManagement.Database/bin/Debug
/BookManagement.Database/obj/Debug
/BookManagement.Infrastructure/bin/Debug/net6.0
/BookManagement.Infrastructure/obj
/BookManagement.Models/bin/Debug/net6.0
/BookManagement.Models/obj
/BookManagement.Business/bin/Debug/net6.0
/BookManagement.Business/obj
